{% extends 'IbwJobMBundle::layout.html.twig' %}

{% form_theme form 'IbwJobMBundle:tools:form.html.twig' %}

{% block content %}

    <div class="width-block-login">
        <legend>Sign in with your job+ account</legend>
        {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_widget(form.username, { 'attr': {'placeholder': 'Numele'} }) }}

                <span class="fa fa-user form-control-feedback"></span>
                {{ form_errors(form.username) }}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.email, { 'attr': {'placeholder': 'Adresa de email'} }) }}
                <span class="fa fa-envelope-o form-control-feedback"></span>
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.password.password, { 'attr': {'placeholder': 'Parola'} }) }}
                <span class="fa fa-lock form-control-feedback"></span>
                {{ form_errors(form.password.password) }}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.password.confirm, { 'attr': {'placeholder': 'Confirma Parola'} }) }}
                <span class="fa fa-lock form-control-feedback"></span>
                {{ form_errors(form.password.confirm) }}
            </div>
                    <button class="btn btn-submit submit-button-singIn"  type="submit">{% trans %} Înregistrare {% endtrans %}</button>
        {{ form_errors(form) }}
        {{ form_end(form) }}
        <a href="{{ path('login') }}" class="color-forgot-link">{% trans %}Ești deja membru?{% endtrans %}</a>
    </div>

{% endblock %}
