<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Cvmaker
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {#<base href="http://cvmaker.md/ro">#}
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png" sizes="32x16">

        {% block stylesheets %}
            <link href='//fonts.googleapis.com/css?family=Ubuntu:400' rel='stylesheet' type='text/css'>
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/ibwjobm/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/ibwjobm/css/bootstrap-select.min.css') }}" type="text/css" media="all" />
            <link href="{{ asset('bundles/ibwjobm/css/stylesheet.css') }}" type="text/css" media="all" rel="stylesheet">

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/bootstrap-select.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('http://code.jquery.com/ui/1.11.2/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{asset('http://tinymce.cachefly.net/4.1/tinymce.min.js')}}"></script>
            <script type="text/javascript">
                $(window).on('load', function () {
                    $('.selectpicker').selectpicker({
                        'selectedText': 'cat'
                    });

                    // $('.selectpicker').selectpicker('hide');
                });

                $(function() {
                    $( "#sortable" ).sortable();
                    $( "#sortable" ).disableSelection();
                });

                tinymce.init({
                    selector: "textarea",
                    forced_root_block: false
                });

                $(function () {
                    $(":file").change(function () {
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();
                            reader.onload = imageIsLoaded;
                            reader.readAsDataURL(this.files[0]);
                        }
                    });
                });

                function imageIsLoaded(e) {
                    $('#myImg').attr('src', e.target.result);
                    document.getElementById('removebtn').style.display = 'block'

                };
                removeImg = function(){
                    document.getElementById('removebtn').style.display = 'none';
                    document.getElementById("cv_file").value = null;
                    $('#myImg').attr('src', '/bundles/ibwjobm/images/clear.jpg');
                };

            </script>

        {% endblock %}
    </head>
    <body>
    <div class="header header-background">
        <div class="container min-width">
            <div class="logo-block">
                <a href="{{ path('ibw_job_m_homepage') }}">
                    <img src="{{ asset('bundles/ibwjobm/images/11.png') }}" width="150px">
                </a>
            </div>

            <div class="register">
                {% if app.user %}
                    <a href="{{ path('logout') }}" style="margin-left: 40px"> <i class="fa fa-sign-out" style="font-size: 17px"></i> {% trans %} Ieșire {% endtrans %}</a>
                {% else %}
                    <a href="{{ path('login') }}"><i class="fa fa-lock"></i> {% trans %} Logare {% endtrans %}</a>
                    |
                    <a href="{{ path('account_register') }}"> {% trans %} Înregistrare {% endtrans %} </a>
                {% endif %}
            </div>
            <div class="language-width">
                <div class="dropdown">
                    {% if app.request.get('_locale') == 'en' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/english.gif') }}"> English
                        </a>
                    {% endif %}

                    {% if app.request.get('_locale') == 'ru' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/russian.gif') }}"> Русский
                        </a>
                    {% endif %}

                    {% if app.request.get('_locale') == 'ro' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/rom.png') }}"> Română
                        </a>
                    {% endif %}

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/english.gif') }}"> English
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/russian.gif') }}"> Русский
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ro'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/rom.png') }}"> Română
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

        {% block content %}


        {% endblock %}

{% block footer %}

    <blockquote style="height: 64px">
        <div class="vc-arrow-up"></div>
        <div style="text-align: center; margin-top: 20px">&#169; 2014 All right reserved "jobmatch" SRL</div>
    </blockquote>
    {#<footer>#}
        {#<div class="container">#}
            {#<p>Put together in less than five minutes by <a href="http://www.martinbean.co.uk/" rel="author">Martin Bean</a>. Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://ryanfait.com/sticky-footer/" rel="external">Ryan Fait&rsquo;s Sticky Footer</a>.</p>#}
        {#</div>#}
    {#</footer>#}

{% endblock %}

</body>
</html>