{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

    <h3>Terms &amp; Conditions</h3>
    {#<h4>Read this text before signup.</h4>#}
    <p>
        By using our website you agree to be legally bound by these terms,...
        The particular task to be addressed through the current assignment will be to provide  consular  information  and  advice  to  Moldovan and foreign nationals  abroad in a professional manner; refer the cases, if necessary, to relevant institutions and follow-up on their actions; record, systematize all incoming inquiries and provide follow-up services; draft monthly reports on the work of the hotline; keep updated with the consular affairs issues/legal framework and participate in training programs.
        The key deliverables will include consultancy/advice on consular issues provided to Call Center clients for 8 hours during every working day; monthly activity reports, including toll-free line success stories and lessons learned.
    </p>


{% endblock %}