{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

<div class="width-block-login">
    <legend>{% trans %}Sign in with job+ account as{% endtrans %}</legend>
    <form action="{{ path('login_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger position-alert-errors-form" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                <ul class="error_list">
                    <li>{{ error.message|trans({},'messages') }}</li>
                </ul>
            </div>
        {% endif %}
        <div class="form-group has-feedback">
            <input type="email" name="_username" class="form-control" id="email" placeholder="Email:" required>
            <span class="fa fa-envelope-o form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="_password" class="form-control" id="password" placeholder="Password:" required>
            <span class="fa fa-lock form-control-feedback"></span>
        </div>
        {#<a href="{{ path('fos_user_resetting_request') }}" class="color-forgot-link">Forgot your password ?</a>#}
        {#<div class="remember">#}
            {#<input type="checkbox" name="_remember_me" id="remember_me">#}
            {#<label for="remember_me">Keep me signed in this computer</label>#}
        {#</div>#}
        <button class="btn btn-submit submit-button-singIn" type="submit">SingUp</button>
        <a href="{{ path('account_register') }}" class="color-forgot-link">Not a member yet?</a>
    </form>
    {#{{app.request.locale}}#}
</div>

{% endblock %}