{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}


{#<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>#}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script>
        {#var z = {{ m['results'][0]['geometry']['location']['lat'] }}, {{ m['results'][0]['geometry']['location']['lng'] }};#}
        {#for(var i = 0; i < z.length; i++ ){}#}

        var markers = [
            ['chisinau', 46.9998691,28.8581765],
            {#['{{ description[0]['company_description'] }}', {{ m[0]['results'][0]['geometry']['location']['lat'] }}, {{ m[0]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[1]['results'][0]['geometry']['location']['lat'] }}, {{ m[1]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[2]['results'][0]['geometry']['location']['lat'] }}, {{ m[2]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[3]['results'][0]['geometry']['location']['lat'] }}, {{ m[3]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[4]['results'][0]['geometry']['location']['lat'] }}, {{ m[4]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[5]['results'][0]['geometry']['location']['lat'] }}, {{ m[5]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[6]['results'][0]['geometry']['location']['lat'] }}, {{ m[6]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[7]['results'][0]['geometry']['location']['lat'] }}, {{ m[7]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[8]['results'][0]['geometry']['location']['lat'] }}, {{ m[8]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[9]['results'][0]['geometry']['location']['lat'] }}, {{ m[9]['results'][0]['geometry']['location']['lng'] }}],#}
            {#['uraaa', {{ m[10]['results'][0]['geometry']['location']['lat'] }}, {{ m[10]['results'][0]['geometry']['location']['lng'] }}]#}
        ];


        var myCenter=new google.maps.LatLng(46.9998691,28.8581765);
        function initializeMaps() {
            var myOptions = {
                center:myCenter,
                zoom:11,
                mapTypeId: google.maps.MapTypeId.ROADMAP

            };
            var map = new google.maps.Map(document.getElementById("googleMap"),myOptions);
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            var bounds = new google.maps.LatLngBounds();


            for (i = 0; i < markers.length; i++) {
                var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(pos);
                marker = new google.maps.Marker({
                    position: pos,
                    map: map
                });
 //               marker.setMap(map);
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(markers[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initializeMaps);

    </script>


    <div id="googleMap" style="width:1000px;height:500px;"></div>

    <div>

     {{ m[0] }}, {{ m[0]  }}
     {#{{ m[1]['results'][0]['geometry']['location']['lat'] }}, {{ m[1]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[2]['results'][0]['geometry']['location']['lat'] }}, {{ m[2]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[3]['results'][0]['geometry']['location']['lat'] }}, {{ m[3]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[4]['results'][0]['geometry']['location']['lat'] }}, {{ m[4]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[5]['results'][0]['geometry']['location']['lat'] }}, {{ m[5]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[6]['results'][0]['geometry']['location']['lat'] }}, {{ m[6]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[7]['results'][0]['geometry']['location']['lat'] }}, {{ m[7]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[8]['results'][0]['geometry']['location']['lat'] }}, {{ m[8]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[9]['results'][0]['geometry']['location']['lat'] }}, {{ m[9]['results'][0]['geometry']['location']['lng'] }}#}
     {#{{ m[10]['results'][0]['geometry']['location']['lat'] }}, {{ m[10]['results'][0]['geometry']['location']['lng'] }}#}
    </div>

{% endblock %}

