{% extends 'IbwJobMBundle::layout.html.twig' %}

{% form_theme edit_form 'IbwJobMBundle:tools:form.html.twig' %}

{% block content %}
    <h1>Cv edit</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-9 bag-color">
            <div class="row">
                <div class="col-xs-4">
                    <ul class="nav nav-sidebar" id="sortable">
                        <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab">Basic information</a></li>
                        <li><a href="#Workexperience" role="tab" data-toggle="tab">Work experience</a></li>
                        <li><a href="#Qualifications" role="tab" data-toggle="tab">Qualifications</a></li>
                        <li><a href="#Education" role="tab" data-toggle="tab">Education</a></li>
                        <li><a href="#Interests" role="tab" data-toggle="tab">Interests</a></li>
                        <li><a href="#Competence" role="tab" data-toggle="tab">Competence</a></li>
                        <li><a href="#new_section_1" role="tab" data-toggle="tab">Additional section 1</a></li>
                        <li><a href="#new_section_2" role="tab" data-toggle="tab">Additional section 2</a></li>
                        <li><a href="#new_section_3" role="tab" data-toggle="tab">Additional section 3</a></li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    {{ form_start(edit_form, {'action': path('ibw_cv_update', {'token': entity.token})} ) }}
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Basicinformation">
                            <h1> Basic Information</h1>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.name) }}

                                {{ form_errors(edit_form.name) }}
                                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.cv_name) }}

                                {{ form_errors(edit_form.cv_name) }}
                                {{ form_widget(edit_form.cv_name, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.email) }}

                                {{ form_errors(edit_form.email) }}
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.phone) }}

                                {{ form_errors(edit_form.phone) }}
                                {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.websites) }}

                                {{ form_errors(edit_form.websites) }}
                                {{ form_widget(edit_form.websites, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.street) }}

                                {{ form_errors(edit_form.street) }}
                                {{ form_widget(edit_form.street, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.city) }}

                                {{ form_errors(edit_form.city) }}
                                {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.country) }}

                                {{ form_errors(edit_form.country) }}
                                {{ form_widget(edit_form.country, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.file) }}

                                {{ form_errors(edit_form.file) }}
                                {{ form_widget(edit_form.file) }}
                                {#<input type='file' />#}
                                {#<img id="myImg" src="#" alt="your image" />#}
                            </div>
                            {#<input type='file' />#}
                            {#<img id="myImg" src="#" alt="your image" />#}

                            {#<div class="col-xs-6">#}
                            {#{{ form_label(form.is_public) }}#}

                            {#{{ form_errors(form.is_public) }}#}
                            {#{{ form_widget(form.is_public) }}#}
                            {#<br />{% trans %} Whether the job can also be published on affiliate websites or not.{% endtrans %}#}
                            {#</div>#}


                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="Workexperience">
                            <h1> Work Experience</h1>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.job_title) }}

                                {{ form_errors(edit_form.job_title) }}
                                {{ form_widget(edit_form.job_title, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.company_name) }}

                                {{ form_errors(edit_form.company_name) }}
                                {{ form_widget(edit_form.company_name, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.start_date_work) }}

                                {{ form_errors(edit_form.start_date_work) }}
                                {{ form_widget(edit_form.start_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.end_date_work) }}

                                {{ form_errors(edit_form.end_date_work) }}
                                {{ form_widget(edit_form.end_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div>
                                {{ form_label(edit_form.other_information_work) }}

                                {{ form_errors(edit_form.other_information_work) }}
                                {{ form_widget(edit_form.other_information_work) }}
                            </div>
                        </div>

                        <div class="tab-pane" id="Qualifications">
                            <h1> Qualifications </h1>

                            <div>
                                {{ form_label(edit_form.qualifications) }}

                                {{ form_errors(edit_form.qualifications) }}
                                {{ form_widget(edit_form.qualifications) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="Education">
                            <h1> Education </h1>

                            <div class="col-xs-6">
                                {{ form_label(edit_form.specialization) }}

                                {{ form_errors(edit_form.specialization) }}
                                {{ form_widget(edit_form.specialization, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.institution_name) }}

                                {{ form_errors(edit_form.institution_name) }}
                                {{ form_widget(edit_form.institution_name, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.start_date_learn) }}

                                {{ form_errors(edit_form.start_date_learn) }}
                                {{ form_widget(edit_form.start_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_label(edit_form.end_date_learn) }}

                                {{ form_errors(edit_form.end_date_learn) }}
                                {{ form_widget(edit_form.end_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div >
                                {{ form_label(edit_form.other_information_education) }}

                                {{ form_errors(edit_form.other_information_education) }}
                                {{ form_widget(edit_form.other_information_education) }}
                            </div>

                        </div>
                        <div class="tab-pane" id="Interests">
                            <h1> Interests </h1>

                            <div >
                                {{ form_label(edit_form.interests) }}

                                {{ form_errors(edit_form.interests) }}
                                {{ form_widget(edit_form.interests) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="Competence">
                            <h1> Competence </h1>
                            <div >
                                {{ form_label(edit_form.competence) }}

                                {{ form_errors(edit_form.competence) }}
                                {{ form_widget(edit_form.competence) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="new_section_1">
                            <h1> Additional section 1</h1>
                            <div>
                                <label id="new_section_1l"></label>
                                {{ form_errors(edit_form.new_section_1) }}
                                {{ form_widget(edit_form.new_section_1) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="new_section_2">
                            <h1>Additional section 2</h1>
                            <div>
                                <label id="new_section_2l"></label>

                                {{ form_errors(edit_form.new_section_2) }}
                                {{ form_widget(edit_form.new_section_2) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="new_section_3">
                            <h1>Additional section 3</h1>

                            <div>
                                <label id="new_section_3l"></label>

                                {{ form_errors(edit_form.new_section_3) }}
                                {{ form_widget(edit_form.new_section_3) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-black button-inactive"  type="submit"> Update your Cv</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

