{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}


    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52999e902a24ef80" async="async"></script>


    {{ parent() }}

    <div class="img-background">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="padding: 200px 0 0 50px;font-weight: bold; color: #5D5B5C">
                        {% trans %}Creează CV-ul tău profesional ușor și operativ {% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row social-button">
        <div class="col-md-4">
            <div class="addthis_native_toolbox"></div>
        </div>
        <div class="col-md-8 text-left">
            <div>{% trans %}CV-ul frumos elaborat este gata pentru expediere în doar cîteva minute. Convinge-te singur!{% endtrans %}</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row button-center">
        <div class="col-md-12 text-center">
            <a href="{{ path ('ibw_cv_new') }}">
                <button type="button" class="btn btn-black button-active" style="width: 170px; font-size: 20px;">{% trans %}Creează CV-ul{% endtrans %}</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center distance">
            <img src="{{ asset('bundles/ibwjobm/images/11.png') }}" width="150px"><b style="font-size: 20px">{% trans %}este:{% endtrans %}</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h1>{% trans %}Simplu ca “bună ziua”{% endtrans %}</h1>
            <div>{% trans %}Profesioniștii au elaborat deja structura CV – lui pentru tine. Ție îți rămâne doar să introduci informația ta în rubricile corespunzătoare.{% endtrans %}</div>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ asset('bundles/ibwjobm/images/hat.png') }}" width="150px">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6 text-center ">
            <img src="{{ asset('bundles/ibwjobm/images/clock.png') }}" width="150px">
        </div>
        <div class="col-md-6 text-center">
            <h1>{% trans %}Operativ{% endtrans %}</h1>
            <div>{% trans %}Tot procesul îți va lua maxim 30 de minute. Folosește timpul economisit pe ceva plăcut ție. Spre exemplu, ca să savurezi o cafea.{% endtrans %}<img src=http://yoursmiles.org/csmile/wink/c0521.gif></div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6 text-center">
            <h1>{% trans %}Toate CV – urile într-un singur loc{% endtrans %}</h1>
            <div>{% trans %}Creează-ți cîteva CV–uri pentru funcții diferite și păstrează–le pe toate într-un singur loc. Comod!{% endtrans %}</div>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ asset('bundles/ibwjobm/images/folder.png') }}" width="150px">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{{ asset('bundles/ibwjobm/images/globe.png') }}" width="150px">
        </div>
        <div class="col-md-6 text-center">
            <h1>{% trans %}3 limbi la alegere{% endtrans %}</h1>
            <div>{% trans %}Angajatorul cere CV–ul într-o anumită limbă? Fără probleme! Creează-ți CV–ul în limba română, rusă sau engleză la alegerea ta.{% endtrans %}</div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6 text-center">
            <h1>{% trans %}Format comod pentru tine{% endtrans %}</h1>
            <div>{% trans %}Descarcă-ţi CV-ul pentru expediere angajatorului în formatul Word sau PDF, sau expediază-i doar link-ul la CV-ul tău în format electronic. El va aprecia!{% endtrans %}</div>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ asset('bundles/ibwjobm/images/formats.png') }}" width="150px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 text-center">
            <a href="{{ path ('ibw_cv_new') }}">
                <button type="button" class="btn btn-black button-active" style="width: 170px; font-size: 20px; margin-top: 63px;">{% trans %}Creează CV-ul{% endtrans %}</button>
            </a>
        </div>
    </div>

</div>
{% endblock %}

