{% extends 'IbwJobMBundle::layout.html.twig' %}


{% form_theme form 'IbwJobMBundle:tools:form.html.twig' %}


{% block content %}
    {{ parent() }}
    <script>
        addTabHeaders = function(val, valForId){
            var h1Sect = document.getElementById(valForId + "h");
            h1Sect.appendChild(document.createTextNode(val));
            var labelSect = document.getElementById(valForId + "l");
            labelSect.appendChild(document.createTextNode(val));

        };
        var count = 0;
        addAnother = function() {
            var ul = document.getElementById("sortable");
//            var children = ul.children.length + 1;
            var val = document.getElementById("new").value;
            var Maxelements = 3;
            if (count < Maxelements) {
                count++;
                var valForId = "new_section_" + count;
                var li = document.createElement("li");
                var a = document.createElement("a");
                li.setAttribute("class", "ui-sortable-handle");
                a.setAttribute("href","#" + valForId);
                a.setAttribute("role","tab");
                a.setAttribute("data-toggle","tab");
                a.appendChild(document.createTextNode(val));
                ul.appendChild(li);
                li.appendChild(a);
                addTabHeaders(val, valForId)
            }
            if (count == Maxelements){
                var div = document.getElementById("moreInputs");
                div.removeAttribute("data-toggle");
                div.appendChild(document.createTextNode(" - over of limit"));
                div.setAttribute("style","color:red");
            }
        };
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                </div>
                <div class="modal-body">
                    <label>{% trans %}Nume secțiune{% endtrans %}</label>
                    <input type="text" class="form-control" id="new">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal"  onClick="addAnother()">{% trans %}Crează secțiune nouă{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-circle">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 bag-color">
                    <div class="row">
                        <div class="col-xs-4">
                            <ul class="nav nav-sidebar" id="sortable">
                                <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab"> {% trans %}Informații de bază{% endtrans %}</a></li>
                                <li><a href="#Workexperience" role="tab" data-toggle="tab">{% trans %}Experiență în muncă{% endtrans %}</a></li>
                                <li><a href="#Qualifications" role="tab" data-toggle="tab">{% trans %}Calificări{% endtrans %}</a></li>
                                <li><a href="#Education" role="tab" data-toggle="tab">{% trans %}Educație{% endtrans %}</a></li>
                                <li><a href="#Interests" role="tab" data-toggle="tab">{% trans %}Interese{% endtrans %}</a></li>
                                <li><a href="#Competence" role="tab" data-toggle="tab">{% trans %}Referințe{% endtrans %}</a></li>
                            </ul>
                            <button class="btn btn-default add-color" id="moreInputs" data-toggle="modal" data-target="#myModal">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                        </div>
                        <div class="col-xs-8">
                            {{ form_start(form, {'method': 'POST', 'action': path('ibw_cv_create')}) }}
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Basicinformation">
                                        <h1> {% trans %}Informații de bază{% endtrans %}</h1>
                                        <div class="col-xs-6">
                                            {{ form_label(form.name) }}

                                            {{ form_errors(form.name) }}
                                            {{ form_widget(form.name, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.cv_name) }}
                                            {#{{ nameCv }}#}
                                            {{ form_errors(form.cv_name) }}
                                            {{ form_widget(form.cv_name, { 'attr': {'class': 'form-control form-group' }}) }}
                                            <input class="form-control form-group" value="{{ nameCv }}">
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.email) }}

                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.phone) }}

                                            {{ form_errors(form.phone) }}
                                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control form-group'} }) }}
                                            <span class="information">{% trans %}Dacă aveți mai multe numere, separațile prin virgulă{% endtrans %}</span>
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.websites) }}

                                            {{ form_errors(form.websites) }}
                                            {{ form_widget(form.websites, { 'attr': {'class': 'form-control form-group'} }) }}
                                            <span class="information">{% trans %}Dacă aveți mai multe adrese, separațile prin virgulă{% endtrans %}</span>
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.street) }}

                                            {{ form_errors(form.street) }}
                                            {{ form_widget(form.street, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.city,'Alegeți orașul') }}

                                            {{ form_errors(form.city) }}
                                            {{ form_widget(form.city, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>

                                        <div class="col-xs-6">
                                            {{ form_label(form.country) }}

                                            {{ form_errors(form.country) }}
                                            {{ form_widget(form.country, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="clearfix"></div>

                                            <hr>
                                        <img class="sizeImg pull-left" id="myImg" src="{{ asset('bundles/ibwjobm/images/clear.jpg') }}"  />

                                        <div class="col-xs-6">
                                            <div class="label-file">
                                            {{ form_label(form.file) }}
                                            </div>
                                            {{ form_errors(form.file) }}
                                            <span class="btn btn-default btn-file">
                                             {% trans %} Alege foto {% endtrans %}  {{ form_widget(form.file) }}
                                            </span>

                                            <button class="btn btn-default " id="removebtn" onclick="removeImg()"  style="display: none">Remove</button>
                                        </div>

                                        {#<label class="btn btn-primary" for="my-file-selector">#}
                                            {#<input id="my-file-selector" type="file" style="display:none;">#}
                                            {#Button Text Here#}
                                        {#</label>#}

                                        {#<div class="col-xs-6">#}
                                        {#{{ form_label(form.is_public) }}#}

                                        {#{{ form_errors(form.is_public) }}#}
                                        {#{{ form_widget(form.is_public) }}#}
                                        {#<br />{% trans %} Whether the job can also be published on affiliate websites or not.{% endtrans %}#}
                                        {#</div>#}

                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="tab-pane" id="Workexperience">
                                        <h1> {% trans %}Experiență în muncă{% endtrans %}</h1>
                                        <div class="col-xs-6">
                                            {{ form_label(form.job_title) }}

                                            {{ form_errors(form.job_title) }}
                                            {{ form_widget(form.job_title, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.company_name) }}

                                            {{ form_errors(form.company_name) }}
                                            {{ form_widget(form.company_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.start_date_work) }}

                                            {{ form_errors(form.start_date_work) }}
                                            {{ form_widget(form.start_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.end_date_work) }}

                                            {{ form_errors(form.end_date_work) }}
                                            {{ form_widget(form.end_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div>
                                            {{ form_label(form.other_information_work) }}

                                            {{ form_errors(form.other_information_work) }}
                                            {{ form_widget(form.other_information_work) }}
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="Qualifications">
                                        <h1> {% trans %}Calificări{% endtrans %} </h1>
                                        <div>
                                            {{ form_label(form.qualifications) }}

                                            {{ form_errors(form.qualifications) }}
                                            {{ form_widget(form.qualifications) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Education">
                                        <h1> {% trans %}Educație{% endtrans %} </h1>
                                        <div class="col-xs-6">
                                            {{ form_label(form.specialization) }}

                                            {{ form_errors(form.specialization) }}
                                            {{ form_widget(form.specialization, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.institution_name) }}

                                            {{ form_errors(form.institution_name) }}
                                            {{ form_widget(form.institution_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.start_date_learn) }}

                                            {{ form_errors(form.start_date_learn) }}
                                            {{ form_widget(form.start_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_label(form.end_date_learn) }}

                                            {{ form_errors(form.end_date_learn) }}
                                            {{ form_widget(form.end_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        </div>
                                        <div >
                                            {{ form_label(form.other_information_education) }}

                                            {{ form_errors(form.other_information_education) }}
                                            {{ form_widget(form.other_information_education) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Interests">
                                        <h1> {% trans %}Interese{% endtrans %} </h1>
                                        <div >
                                            {{ form_label(form.interests) }}

                                            {{ form_errors(form.interests) }}
                                            {{ form_widget(form.interests) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Competence">
                                        <h1> {% trans %}Referințe{% endtrans %} </h1>
                                        <div >
                                            {{ form_label(form.competence) }}

                                            {{ form_errors(form.competence) }}
                                            {{ form_widget(form.competence) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="new_section_1">
                                        <h1 id="new_section_1h"></h1>
                                        <div>
                                            <label id="new_section_1l"></label>

                                            {{ form_errors(form.new_section_1) }}
                                            {{ form_widget(form.new_section_1) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="new_section_2">
                                        <h1 id="new_section_2h"></h1>
                                        <div>
                                            <label id="new_section_2l"></label>

                                            {{ form_errors(form.new_section_2) }}
                                            {{ form_widget(form.new_section_2) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="new_section_3">
                                        <h1 id="new_section_3h"></h1>
                                        <div>
                                            <label id="new_section_3l"></label>

                                            {{ form_errors(form.new_section_3) }}
                                            {{ form_widget(form.new_section_3) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-black button-inactive"  type="submit">{% trans %}Salvează CV{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    {#<h2 style="color:#C1C2C6">{% trans %}Write your resumes{% endtrans %}<br> {% trans %}with easy with the{% endtrans %}<br> {% trans %}super easy interface{% endtrans %}</h2><hr>#}
                    <h2 style="color:#C1C2C6">{% trans %}Creează CV-ul tău profesional ușor și operativ {% endtrans %}</h2><hr>
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="{{ asset('bundles/ibwjobm/images/PDF.png') }}" width="50px">
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ asset('bundles/ibwjobm/images/Word.png') }}" width="50px">
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ asset('bundles/ibwjobm/images/html.png') }}" width="50px">
                        </div>
                     </div>
                </div>
             </div>
        </div>
    </div>

    <div id="bg-color-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center distance">
                    <img src="{{ asset('bundles/ibwjobm/images/11.png') }}" width="150px">
                </div>
            </div>
            <div class="row distance">
                <div class="col-md-4 text-center">
                    <img src="{{ asset('bundles/ibwjobm/images/1.png') }}">
                    <h3>test</h3>
                    <p>aaa <br>bbbb</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{{ asset('bundles/ibwjobm/images/2.png') }}">
                    <h3>test</h3>
                    <p>aaa <br>bbbb</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{{ asset('bundles/ibwjobm/images/3.png') }}">
                    <h3>test</h3>
                    <p>aaa <br>bbbb</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="{{ asset('bundles/ibwjobm/images/4.png') }}">
                    <h3>test</h3>
                    <p>aaa <br>bbbb</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ asset('bundles/ibwjobm/images/5.png') }}">
                    <h3>test</h3>
                    <p>aaa <br>bbbb</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

