<html>


{% block stylesheet %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
            body {
                background: #f0f0f0;
                margin: 0;
                padding: 0;

                font-family: 'Helvetica Neue', Helvetica, Arial;
                line-height: 18px;
                font-size: 12px;

                color: #222;
            }
            h1, h2, h3, h4 {
                margin: 0 0 15px 0;
                padding: 0;
                font-weight: normal;
            }
            h1 {
                font-size: 500%;
            }
            h2 {
                font-size: 210%;
            }
            h3 {
                font-size: 150%;
            }

            p {
                margin: 0 0 10px 0;
            }
            a {
                color: #222;
            }
            /* ________________________________________________________ */

            .clear {
                clear: both;
            }

            #main {
                background: #fff;
                width: 900px;
                padding: 35px;
                margin: 0 auto 15px auto;
                overflow: hidden;

                box-shadow: 0 0 6px #ccc;
            }

            #title {
                margin: 0px 0 30px 0;
                line-height: 70px;
                text-align: center;
                color: #111;
            }

            p label {
                float: left;
                margin-right: 10px;
                min-width: 50px;
            }
            p label span.colon {
                float: right;
            }
            p span.value {
                float: left;
                width: 70%;
                display: block;
            }

            .section {
                margin-bottom: 40px;
                padding-bottom: 20px;
            }

            .item {
                margin: 0 0 20px 0;
            }

            .basic-info {
                padding: 0px 0 0px 140px;

            }
            .basic-info p {
                float: left;
                width: 48%;
                margin: 0 0 0px 0;
            }
            .basic-info p.full {
                width: 100%;
                float: none;
            }
            .basic-info .r {
                float: right;
            }

            /* education _____________________________ */

            .section .title {
                border-bottom: 1px solid #ddd;
                padding-bottom: 5px;
            }
            .section span {
                display: block;
            }
            .section h3 span.l, .section span.r {
                width: 49%;
                float: left;
            }
            .section span.r {
                float: right;
                text-align: right;
            }
            .section-education .school,
            .section-work .job_title {
                font-size: 120%;
                display: block;
                margin: 5px 0 5px 0;
            }

            /* ___ photo ___ */
            #photo {
                width: 160px;
                height: 200px;
                overflow: hidden;
                float: left;
                margin-top: 12px;
                border-radius: 4px;
            }
            #photo img {
                width: 100%;
                height: auto;
            }

            .header.photo {
                margin-left: 190px;
            }
            .header.photo #title {
                text-align: left;
            }
            .header.photo .basic-info {
                float: none;
                padding: 0;
            }

            @media screen and (max-width: 950px) {
                body {
                    background: #fff;
                }
                #main {
                    box-shadow: none;
                    padding: 0;
                    padding: 5px;
                }
            }
        </style>
    </head>
{% endblock %}

<body>
{% block content %}
    {% for cv in resume %}
        <div id="main">
            {% if cv.logo %}
                <div id="photo">
                    <img src="http://cvmaker.md/{{ cv.getWebPath }}">
                </div>
            {% endif %}
            <div class="header photo">
                {% if cv.name %}
                    <h1 id="title">{{ cv.name }}</h1>
                {% endif %}
            </div>
            <div class="basic-info section">
                {% if cv.email %}
                    <p class="email"><label>E-mail<span class="colon">:</span></label> <span class="value">{{ cv.email }}</span></p>
                {% endif %}
                <p class="website"><label>Website<span class="colon">:</span></label> <span class="value">{{ cv.websites }}</span></p>
                {% if cv.websites %}
                    <p class="phone"><label>Phone<span class="colon">:</span></label> <span class="value">{{ cv.phone }}</span></p>
                {% endif %}
                <p class="address "><label>Address<span class="colon">:</span></label>
                    <span class="value">
                       {% if cv.street %} {{ cv.street }} {% endif %}<br /> {% if cv.city %} {{ cv.city }} {% endif %}<br />{% if cv.country %}{{ cv.country }} {% endif %}</span>
                </p>
                <div class="clear"> </div>
            </div><!-- basic-info //-->

            <div class="section section-work">
                <h2 class="title">Work experience</h2>
                <div class="set">
                    <div class="item">
                        <h3><span class="company l">{{ cv.companyname }}</span>
                            <span class="date r">{{ cv.startdatework }} &mdash; {{ cv.enddatework }}</span>
                        </h3>
                        <span class="clear"> </span>
                        <span class="job_title">{{ cv.jobtitle }}</span><span class="info">{{ cv.otherinformationwork }}</span><span class="clear"> </span>
                    </div>
                </div>
            </div>

            <div class="section section-qualifications">
                <h2 class="title">Qualifications</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">{{ cv.qualifications }}</span>
                    </div>
                </div>
            </div>

            <div class="section section-education">
                <h2 class="title">Education</h2>
                <div class="set">
                    <div class="item">
                        <h3><span class="course l">{{ cv.specialization }}</span>
                            <span class="date r">{{ cv.startdatelearn }} &mdash; {{ cv.enddatelearn }}</span>
                        </h3>
                        <span class="clear"> </span>
                        <span class="school">{{ cv.institutionname }}</span><span class="info">{{ cv.otherinformationeducation }}</span><span class="clear"> </span>
                    </div>
                </div>
            </div>

            <div class="section section-interests">
                <h2 class="title">Interests</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">{{ cv.interests }}</span>
                    </div>
                </div>
            </div>

            <div class="section section-references">
                <h2 class="title">Competence</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">{{ cv.competence }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
</body>

</html>