{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}
    {{ parent() }}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                </div>
                <div class="modal-body">
                    <label>Numele cv-ului</label>

                    <form action="{{ path ('ibw_cv_new') }}" method="post">
                    <input type="text" name="title" class="form-control">

                     <input type="submit">

                     </form>
                </div>
            </div>
        </div>
    </div>


<div class="container">
    <h1>{% trans %}CV-urile mele:{% endtrans %}</h1>
    <div class="row dist">
        <table class="table table-hover">
            <tr>
                <th class="col-md-4">
                   {% trans %}Numele{% endtrans %}
                </th>
                <th class="col-md-4">
                    {% trans %}Ultima modificare{% endtrans %}
                </th>
                <th class="col-md-4">
                    {% trans %}Opțiuni{% endtrans %}
                </th>
            </tr>
            {% for cv in user %}
                <tr>
                    <td>
                        <a href="{{ path ('ibw_cv_edit',{'token': cv.token})  }}">{{ cv.cvname }} </a>
                    </td>
                    <td>
                        {{ cv.updatedat|date('m/d/Y, H:i:s') }}
                    </td>
                    <td>
                        <a href="#"><button class="btn btn-default add-color"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;{% trans %}Publică{% endtrans %}</button></a>
                    </td>
                    <td>
                        <button class="btn btn-default add-color" id="moreInputs" data-toggle="modal" data-target="#{{ cv.id }}"><span class="fa fa-rss"></span>&nbsp;{% trans %}Distribuie{% endtrans %}</button>

                        <div class="modal fade" id="{{ cv.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <label>{% trans %}URL pentru distribuire{% endtrans %}<a href="{{ path ('ibw_cv_preview',{'token': cv.token})  }}">{% trans %}(Vizualizare){% endtrans %}</a></label>
                                        <input type="text" class="form-control" value="http://cvmaker.md/ro/cv/{{ cv.token }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown"><button class="btn btn-default add-color"><span class="fa fa-download"></span>&nbsp;{% trans %}Descarcă{% endtrans %}</button></a>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path ('ibw_cv_download_pdf',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} pdf</a></li>
                            <li><a href="{{ path ('ibw_cv_download_doc',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} doc</a></li>
                            <li><a href="{{ path ('ibw_cv_download_html',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} html</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_cv_copy', {'token': cv.token}) }}"><button class="btn btn-default add-color"><span class="fa fa-file-text-o"></span>&nbsp;{% trans %}Copiază{% endtrans %}</button> </a>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_cv_rename', {'token': cv.token}) }}"><button class="btn btn-default add-color"><span class="fa fa-pencil-square-o"></span>&nbsp;{% trans %}Redenumește{% endtrans %}</button> </a>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_cv_delete', {'token': cv.token}) }}"> <button class="btn btn-default add-color"> <span class="glyphicon glyphicon-trash"></span>&nbsp;{% trans %}Șterge{% endtrans %}</button> </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <button class="btn btn-default add-color" id="moreInputs" data-toggle="modal" data-target="#myModal">test</button>
        <a href="{{ path ('ibw_cv_new') }}">
            <button type="button" class="btn btn-black button-active" style="width: 170px; font-size: 20px">Creează CV-ul</button>
        </a>
</div>
{% endblock %}

