{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
 
{% block content %}

        <table class="table table-bordered">

            <tr>

                <td>
                   <h5> City: {{ entity.city }}</h5>
                </td>

            </tr>
            <tr>

                <td>
                    <h5> Name:  {{ entity.name }}</h5>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="text-right">
                        <small>{% trans with {'%date%': entity.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                    </div>
                </td>
            </tr>

        </table>
{% endblock %}